body {
    font-family: Arial;
    background:lightgrey;
    text-align: center;
}    
  
header {
    background-color: #f1f1f1;
    padding: 25px;
    text-align: center;
    width: auto;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    
}

nav a {
    margin: 0 15px;   /*space between links in nav bar*/
    text-decoration: none;
    color: lightseagreen;
   
}

/* Layout for sections with image and text side by side */
.container {
    display: flex; /* Flexbox for horizontal layout */
    flex-direction: row;
    justify-content: center; /* Centers the items horizontally */
    
    gap: 100px; /* Space between the image and text */
}

.container img {
    max-width: auto;
    height: 300px;
    
}

.places {
    display: flex; /* Align text horizontally if you want items inline */
    flex-direction: column; /* Keeps the list in a vertical column */
    gap: 10px; /* Adds spacing between the list items */
    
}
.places p{
    border:none;
}

a {
  text-decoration: none; 
  color:black;
}

a:hover {
  text-decoration: none; 
  color:red;
}

 p{
    text-align: center;
    margin: 25px;
    padding: 15px;
    border:solid
}
footer p{
    border:none;
}

h3 {
    text-align: center;
    font-size: 20px;
}


 
li{
background-color:lightgoldenrodyellow;
    text-align: auto;
  margin-bottom: 10px;
  list-style:none;
  display:flexbox;

}

footer {
    background-color: lightseagreen;
    text-align: center;
    padding: 10px;
    width: 100%;
}